
.icon-cw:before { content: '\e800'; } /* '' */
.icon-ccw:before { content: '\e801'; } /* '' */
.icon-trash-empty:before { content: '\e802'; } /* '' */
.icon-pencil:before { content: '\e803'; } /* '' */
.icon-download:before { content: '\e804'; } /* '' */
.icon-emo-unhappy:before { content: '\e805'; } /* '' */
.icon-cancel-circled:before { content: '\e806'; } /* '' */
.icon-level-down:before { content: '\e807'; } /* '' */
.icon-move:before { content: '\f047'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-columns:before { content: '\f0db'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-eraser:before { content: '\f12d'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-circle-thin:before { content: '\f1db'; } /* '' */